@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Satoshi", system-ui, sans-serif;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Black.otf") format("otf");
  font-weight: 900;
  font-style: normal;
}

html body #root{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
html{
  background-color: #4F000B;
}

.hazard{
  background: repeating-linear-gradient( -50deg, #FFCAC2, #FFCAC2 30px, #4F000B 30px, #4F000B 60px);
}